__pycache__/
*.pyc
*.pyo
*.egg-info/
.venv/
.venv-2/
.env
logs/
logs_backup/
baklogs/
weights/
data/
analysis/
*.sh~
.env~
.ml_poc_cache.pkl
=*
*.code-workspace
STRATEGY_ANALYSIS.py
profile_eval_results.json
evaluation_results.json
human_hands_private.json
miner_*.log
human_hands_private.json
train_gen*.py
train_ml_fresh.py
train_v4plus_model.py
scripts/show_weights.py~
